//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 08 09:53:04 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rgbcolor<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "rgbcolor<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "rgbcolor<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "rgbcolor<3>" LOCATE = SITE "P8" LEVEL 1;
COMP "rgbcolor<4>" LOCATE = SITE "T6" LEVEL 1;
COMP "rgbcolor<5>" LOCATE = SITE "V6" LEVEL 1;
COMP "rgbcolor<6>" LOCATE = SITE "R7" LEVEL 1;
COMP "rgbcolor<7>" LOCATE = SITE "T7" LEVEL 1;
COMP "sev_seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "sev_seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "sev_seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "sev_seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "sev_seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "sev_seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "sev_seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "sev_seg<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "mouse_data" LOCATE = SITE "K14" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "mode<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "mode<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "debug_core" LOCATE = SITE "T5" LEVEL 1;
COMP "vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "x_sign_bit" LOCATE = SITE "N11" LEVEL 1;
COMP "x_overflow" LOCATE = SITE "T11" LEVEL 1;
COMP "y_sign_bit" LOCATE = SITE "M11" LEVEL 1;
COMP "y_overflow" LOCATE = SITE "R11" LEVEL 1;
COMP "left_button" LOCATE = SITE "U15" LEVEL 1;
COMP "mouse_clk" LOCATE = SITE "L13" LEVEL 1;
COMP "right_button" LOCATE = SITE "U16" LEVEL 1;
COMP "middle_button" LOCATE = SITE "V16" LEVEL 1;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        _vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
TIMEGRP sys_clk_pin = BEL "_ioController/current_state_FSM_FFd2" BEL
        "_ioController/current_state_FSM_FFd3" BEL
        "_ioController/current_state_FSM_FFd1" BEL "_ioController/current_y_8"
        BEL "_ioController/current_y_7" BEL "_ioController/current_y_6" BEL
        "_ioController/current_y_5" BEL "_ioController/current_y_4" BEL
        "_ioController/current_y_3" BEL "_ioController/current_y_2" BEL
        "_ioController/current_y_1" BEL "_ioController/current_y_0" BEL
        "_ioController/current_x_8" BEL "_ioController/current_x_7" BEL
        "_ioController/current_x_6" BEL "_ioController/current_x_5" BEL
        "_ioController/current_x_4" BEL "_ioController/current_x_3" BEL
        "_ioController/current_x_2" BEL "_ioController/current_x_1" BEL
        "_ioController/current_x_0" BEL "_ioController/current_y_overflow" BEL
        "_ioController/current_x_overflow" BEL "_ioController/current_btn_2"
        BEL "_ioController/current_btn_1" BEL "_ioController/current_btn_0"
        BEL "_ioController/_writeToMouse/current_data_counter_3" BEL
        "_ioController/_writeToMouse/current_data_counter_2" BEL
        "_ioController/_writeToMouse/current_data_counter_1" BEL
        "_ioController/_writeToMouse/current_data_counter_0" BEL
        "_ioController/_writeToMouse/current_state_FSM_FFd1" BEL
        "_ioController/_writeToMouse/current_clk_counter_12" BEL
        "_ioController/_writeToMouse/current_clk_counter_11" BEL
        "_ioController/_writeToMouse/current_clk_counter_10" BEL
        "_ioController/_writeToMouse/current_clk_counter_9" BEL
        "_ioController/_writeToMouse/current_clk_counter_8" BEL
        "_ioController/_writeToMouse/current_clk_counter_7" BEL
        "_ioController/_writeToMouse/current_clk_counter_6" BEL
        "_ioController/_writeToMouse/current_clk_counter_5" BEL
        "_ioController/_writeToMouse/current_clk_counter_4" BEL
        "_ioController/_writeToMouse/current_clk_counter_3" BEL
        "_ioController/_writeToMouse/current_clk_counter_2" BEL
        "_ioController/_writeToMouse/current_clk_counter_1" BEL
        "_ioController/_writeToMouse/current_clk_counter_0" BEL
        "_ioController/_writeToMouse/current_state_FSM_FFd3" BEL
        "_ioController/_writeToMouse/current_state_FSM_FFd2" BEL
        "_ioController/_writeToMouse/current_data_buffer_7" BEL
        "_ioController/_writeToMouse/current_data_buffer_6" BEL
        "_ioController/_writeToMouse/current_data_buffer_5" BEL
        "_ioController/_writeToMouse/current_data_buffer_4" BEL
        "_ioController/_writeToMouse/current_data_buffer_3" BEL
        "_ioController/_writeToMouse/current_data_buffer_2" BEL
        "_ioController/_writeToMouse/current_data_buffer_1" BEL
        "_ioController/_writeToMouse/current_data_buffer_0" BEL
        "_ioController/_writeToMouse/current_filter_7" BEL
        "_ioController/_writeToMouse/current_filter_6" BEL
        "_ioController/_writeToMouse/current_filter_5" BEL
        "_ioController/_writeToMouse/current_filter_4" BEL
        "_ioController/_writeToMouse/current_filter_3" BEL
        "_ioController/_writeToMouse/current_filter_2" BEL
        "_ioController/_writeToMouse/current_filter_1" BEL
        "_ioController/_writeToMouse/current_filter_0" BEL
        "_ioController/_writeToMouse/current_filter_clk" BEL
        "_vgaController/_pixelGenerator/pixel_state_1" BEL
        "_vgaController/_pixelGenerator/pixel_state_0" BEL
        "_vgaController/_pixelGenerator/next_color_7" BEL
        "_vgaController/_pixelGenerator/next_color_6" BEL
        "_vgaController/_pixelGenerator/next_color_5" BEL
        "_vgaController/_pixelGenerator/next_color_4" BEL
        "_vgaController/_pixelGenerator/next_color_3" BEL
        "_vgaController/_pixelGenerator/next_color_2" BEL
        "_vgaController/_pixelGenerator/next_color_1" BEL
        "_vgaController/_pixelGenerator/next_color_0" BEL
        "_vgaController/_pixelGenerator/random_number_7" BEL
        "_vgaController/_pixelGenerator/random_number_6" BEL
        "_vgaController/_pixelGenerator/random_number_5" BEL
        "_vgaController/_pixelGenerator/random_number_4" BEL
        "_vgaController/_pixelGenerator/random_number_3" BEL
        "_vgaController/_pixelGenerator/random_number_2" BEL
        "_vgaController/_pixelGenerator/random_number_1" BEL
        "_vgaController/_pixelGenerator/random_number_0" BEL
        "_vgaController/_pixelGenerator/latched_row_7" BEL
        "_vgaController/_pixelGenerator/latched_row_6" BEL
        "_vgaController/_pixelGenerator/latched_row_5" BEL
        "_vgaController/_pixelGenerator/latched_row_4" BEL
        "_vgaController/_pixelGenerator/latched_row_3" BEL
        "_vgaController/_pixelGenerator/latched_row_2" BEL
        "_vgaController/_pixelGenerator/latched_row_1" BEL
        "_vgaController/_pixelGenerator/latched_row_0" BEL
        "_vgaController/_pixelGenerator/latched_data_in_15" BEL
        "_vgaController/_pixelGenerator/latched_data_in_14" BEL
        "_vgaController/_pixelGenerator/latched_data_in_13" BEL
        "_vgaController/_pixelGenerator/latched_data_in_12" BEL
        "_vgaController/_pixelGenerator/latched_data_in_11" BEL
        "_vgaController/_pixelGenerator/latched_data_in_10" BEL
        "_vgaController/_pixelGenerator/latched_data_in_9" BEL
        "_vgaController/_pixelGenerator/latched_data_in_8" BEL
        "_vgaController/_pixelGenerator/latched_data_in_7" BEL
        "_vgaController/_pixelGenerator/latched_data_in_6" BEL
        "_vgaController/_pixelGenerator/latched_data_in_5" BEL
        "_vgaController/_pixelGenerator/latched_data_in_4" BEL
        "_vgaController/_pixelGenerator/latched_data_in_3" BEL
        "_vgaController/_pixelGenerator/latched_data_in_2" BEL
        "_vgaController/_pixelGenerator/latched_data_in_1" BEL
        "_vgaController/_pixelGenerator/latched_data_in_0" BEL
        "_vgaController/_pixelGenerator/latched_column_9" BEL
        "_vgaController/_pixelGenerator/latched_column_8" BEL
        "_vgaController/_pixelGenerator/latched_column_7" BEL
        "_vgaController/_pixelGenerator/latched_column_6" BEL
        "_vgaController/_pixelGenerator/latched_column_5" BEL
        "_vgaController/_pixelGenerator/latched_column_4" BEL
        "_vgaController/_pixelGenerator/latched_column_3" BEL
        "_vgaController/_pixelGenerator/latched_column_2" BEL
        "_vgaController/_pixelGenerator/latched_column_1" BEL
        "_vgaController/_vgaSignalGenerator/column_counter_9" BEL
        "_vgaController/_vgaSignalGenerator/column_counter_8" BEL
        "_vgaController/_vgaSignalGenerator/column_counter_7" BEL
        "_vgaController/_vgaSignalGenerator/column_counter_6" BEL
        "_vgaController/_vgaSignalGenerator/column_counter_5" BEL
        "_vgaController/_vgaSignalGenerator/column_counter_4" BEL
        "_vgaController/_vgaSignalGenerator/column_counter_3" BEL
        "_vgaController/_vgaSignalGenerator/column_counter_2" BEL
        "_vgaController/_vgaSignalGenerator/column_counter_1" BEL
        "_vgaController/_vgaSignalGenerator/column_counter_0" BEL
        "_vgaController/_vgaSignalGenerator/row_counter_9" BEL
        "_vgaController/_vgaSignalGenerator/row_counter_8" BEL
        "_vgaController/_vgaSignalGenerator/row_counter_7" BEL
        "_vgaController/_vgaSignalGenerator/row_counter_6" BEL
        "_vgaController/_vgaSignalGenerator/row_counter_5" BEL
        "_vgaController/_vgaSignalGenerator/row_counter_4" BEL
        "_vgaController/_vgaSignalGenerator/row_counter_3" BEL
        "_vgaController/_vgaSignalGenerator/row_counter_2" BEL
        "_vgaController/_vgaSignalGenerator/row_counter_1" BEL
        "_vgaController/_vgaSignalGenerator/row_counter_0" BEL
        "_vgaController/_vgaSignalGenerator/vsync" BEL
        "_vgaController/_vgaSignalGenerator/hsync" BEL
        "_vgaController/_vgaSignalGenerator/rgbcolor_7" BEL
        "_vgaController/_vgaSignalGenerator/rgbcolor_6" BEL
        "_vgaController/_vgaSignalGenerator/rgbcolor_5" BEL
        "_vgaController/_vgaSignalGenerator/rgbcolor_4" BEL
        "_vgaController/_vgaSignalGenerator/rgbcolor_3" BEL
        "_vgaController/_vgaSignalGenerator/rgbcolor_2" BEL
        "_vgaController/_vgaSignalGenerator/rgbcolor_1" BEL
        "_vgaController/_vgaSignalGenerator/rgbcolor_0" BEL
        "_core/core_state_FSM_FFd1" BEL "_core/core_state_FSM_FFd2" BEL
        "_core/core_state_FSM_FFd3" BEL "_core/core_state_FSM_FFd4" BEL
        "_core/core_state_FSM_FFd5" BEL "_core/core_state_FSM_FFd6" BEL
        "_core/program_counter_14" BEL "_core/program_counter_13" BEL
        "_core/program_counter_12" BEL "_core/program_counter_11" BEL
        "_core/program_counter_10" BEL "_core/program_counter_9" BEL
        "_core/program_counter_8" BEL "_core/program_counter_7" BEL
        "_core/program_counter_6" BEL "_core/program_counter_5" BEL
        "_core/program_counter_4" BEL "_core/program_counter_3" BEL
        "_core/program_counter_2" BEL "_core/program_counter_1" BEL
        "_core/program_counter_0" BEL "_core/selected_color_3" BEL
        "_core/selected_color_2" BEL "_core/selected_color_1" BEL
        "_core/selected_color_0" BEL "_core/status_GF" BEL "_core/status_LF"
        BEL "_core/data_from_reg_2_23" BEL "_core/data_from_reg_2_22" BEL
        "_core/data_from_reg_2_21" BEL "_core/data_from_reg_2_20" BEL
        "_core/data_from_reg_2_19" BEL "_core/data_from_reg_2_18" BEL
        "_core/data_from_reg_2_17" BEL "_core/data_from_reg_2_16" BEL
        "_core/data_from_reg_2_15" BEL "_core/data_from_reg_2_14" BEL
        "_core/data_from_reg_2_13" BEL "_core/data_from_reg_2_12" BEL
        "_core/data_from_reg_2_11" BEL "_core/data_from_reg_2_10" BEL
        "_core/data_from_reg_2_9" BEL "_core/data_from_reg_2_8" BEL
        "_core/data_from_reg_2_7" BEL "_core/data_from_reg_2_6" BEL
        "_core/data_from_reg_2_5" BEL "_core/data_from_reg_2_4" BEL
        "_core/data_from_reg_2_3" BEL "_core/data_from_reg_2_2" BEL
        "_core/data_from_reg_2_1" BEL "_core/data_from_reg_2_0" BEL
        "_core/status_ZF" BEL "_core/immediateL_10" BEL "_core/immediateL_9"
        BEL "_core/immediateL_8" BEL "_core/immediateL_7" BEL
        "_core/immediateL_6" BEL "_core/immediateL_5" BEL
        "_core/data_from_reg_1_23" BEL "_core/data_from_reg_1_22" BEL
        "_core/data_from_reg_1_21" BEL "_core/data_from_reg_1_20" BEL
        "_core/data_from_reg_1_19" BEL "_core/data_from_reg_1_18" BEL
        "_core/data_from_reg_1_17" BEL "_core/data_from_reg_1_16" BEL
        "_core/data_from_reg_1_15" BEL "_core/data_from_reg_1_14" BEL
        "_core/data_from_reg_1_13" BEL "_core/data_from_reg_1_12" BEL
        "_core/data_from_reg_1_11" BEL "_core/data_from_reg_1_10" BEL
        "_core/data_from_reg_1_9" BEL "_core/data_from_reg_1_8" BEL
        "_core/data_from_reg_1_7" BEL "_core/data_from_reg_1_6" BEL
        "_core/data_from_reg_1_5" BEL "_core/data_from_reg_1_4" BEL
        "_core/data_from_reg_1_3" BEL "_core/data_from_reg_1_2" BEL
        "_core/data_from_reg_1_1" BEL "_core/data_from_reg_1_0" BEL
        "_core/opcode_4" BEL "_core/opcode_3" BEL "_core/opcode_2" BEL
        "_core/opcode_1" BEL "_core/opcode_0" BEL "_core/dest_reg_index_4" BEL
        "_core/dest_reg_index_3" BEL "_core/dest_reg_index_2" BEL
        "_core/dest_reg_index_1" BEL "_core/dest_reg_index_0" BEL
        "_core/_RegisterFile/r_read_data_15" BEL
        "_core/_RegisterFile/r_read_data_14" BEL
        "_core/_RegisterFile/r_read_data_13" BEL
        "_core/_RegisterFile/r_read_data_12" BEL
        "_core/_RegisterFile/r_read_data_11" BEL
        "_core/_RegisterFile/r_read_data_10" BEL
        "_core/_RegisterFile/r_read_data_9" BEL
        "_core/_RegisterFile/r_read_data_8" BEL
        "_core/_RegisterFile/r_read_data_7" BEL
        "_core/_RegisterFile/r_read_data_6" BEL
        "_core/_RegisterFile/r_read_data_5" BEL
        "_core/_RegisterFile/r_read_data_4" BEL
        "_core/_RegisterFile/r_read_data_3" BEL
        "_core/_RegisterFile/r_read_data_2" BEL
        "_core/_RegisterFile/r_read_data_1" BEL
        "_core/_RegisterFile/r_read_data_0" BEL "_core/_RegisterFile/r0_15"
        BEL "_core/_RegisterFile/r0_14" BEL "_core/_RegisterFile/r0_13" BEL
        "_core/_RegisterFile/r0_12" BEL "_core/_RegisterFile/r0_11" BEL
        "_core/_RegisterFile/r0_10" BEL "_core/_RegisterFile/r0_9" BEL
        "_core/_RegisterFile/r0_8" BEL "_core/_RegisterFile/r0_7" BEL
        "_core/_RegisterFile/r0_6" BEL "_core/_RegisterFile/r0_5" BEL
        "_core/_RegisterFile/r0_4" BEL "_core/_RegisterFile/r0_3" BEL
        "_core/_RegisterFile/r0_2" BEL "_core/_RegisterFile/r0_1" BEL
        "_core/_RegisterFile/r0_0" BEL "_core/_RegisterFile/r1_15" BEL
        "_core/_RegisterFile/r1_14" BEL "_core/_RegisterFile/r1_13" BEL
        "_core/_RegisterFile/r1_12" BEL "_core/_RegisterFile/r1_11" BEL
        "_core/_RegisterFile/r1_10" BEL "_core/_RegisterFile/r1_9" BEL
        "_core/_RegisterFile/r1_8" BEL "_core/_RegisterFile/r1_7" BEL
        "_core/_RegisterFile/r1_6" BEL "_core/_RegisterFile/r1_5" BEL
        "_core/_RegisterFile/r1_4" BEL "_core/_RegisterFile/r1_3" BEL
        "_core/_RegisterFile/r1_2" BEL "_core/_RegisterFile/r1_1" BEL
        "_core/_RegisterFile/r1_0" BEL "_core/_RegisterFile/r3_15" BEL
        "_core/_RegisterFile/r3_14" BEL "_core/_RegisterFile/r3_13" BEL
        "_core/_RegisterFile/r3_12" BEL "_core/_RegisterFile/r3_11" BEL
        "_core/_RegisterFile/r3_10" BEL "_core/_RegisterFile/r3_9" BEL
        "_core/_RegisterFile/r3_8" BEL "_core/_RegisterFile/r3_7" BEL
        "_core/_RegisterFile/r3_6" BEL "_core/_RegisterFile/r3_5" BEL
        "_core/_RegisterFile/r3_4" BEL "_core/_RegisterFile/r3_3" BEL
        "_core/_RegisterFile/r3_2" BEL "_core/_RegisterFile/r3_1" BEL
        "_core/_RegisterFile/r3_0" BEL "_core/_RegisterFile/r4_15" BEL
        "_core/_RegisterFile/r4_14" BEL "_core/_RegisterFile/r4_13" BEL
        "_core/_RegisterFile/r4_12" BEL "_core/_RegisterFile/r4_11" BEL
        "_core/_RegisterFile/r4_10" BEL "_core/_RegisterFile/r4_9" BEL
        "_core/_RegisterFile/r4_8" BEL "_core/_RegisterFile/r4_7" BEL
        "_core/_RegisterFile/r4_6" BEL "_core/_RegisterFile/r4_5" BEL
        "_core/_RegisterFile/r4_4" BEL "_core/_RegisterFile/r4_3" BEL
        "_core/_RegisterFile/r4_2" BEL "_core/_RegisterFile/r4_1" BEL
        "_core/_RegisterFile/r4_0" BEL "_core/_RegisterFile/r2_15" BEL
        "_core/_RegisterFile/r2_14" BEL "_core/_RegisterFile/r2_13" BEL
        "_core/_RegisterFile/r2_12" BEL "_core/_RegisterFile/r2_11" BEL
        "_core/_RegisterFile/r2_10" BEL "_core/_RegisterFile/r2_9" BEL
        "_core/_RegisterFile/r2_8" BEL "_core/_RegisterFile/r2_7" BEL
        "_core/_RegisterFile/r2_6" BEL "_core/_RegisterFile/r2_5" BEL
        "_core/_RegisterFile/r2_4" BEL "_core/_RegisterFile/r2_3" BEL
        "_core/_RegisterFile/r2_2" BEL "_core/_RegisterFile/r2_1" BEL
        "_core/_RegisterFile/r2_0" BEL "_core/_RegisterFile/r5_15" BEL
        "_core/_RegisterFile/r5_14" BEL "_core/_RegisterFile/r5_13" BEL
        "_core/_RegisterFile/r5_12" BEL "_core/_RegisterFile/r5_11" BEL
        "_core/_RegisterFile/r5_10" BEL "_core/_RegisterFile/r5_9" BEL
        "_core/_RegisterFile/r5_8" BEL "_core/_RegisterFile/r5_7" BEL
        "_core/_RegisterFile/r5_6" BEL "_core/_RegisterFile/r5_5" BEL
        "_core/_RegisterFile/r5_4" BEL "_core/_RegisterFile/r5_3" BEL
        "_core/_RegisterFile/r5_2" BEL "_core/_RegisterFile/r5_1" BEL
        "_core/_RegisterFile/r5_0" BEL "_core/_RegisterFile/r6_15" BEL
        "_core/_RegisterFile/r6_14" BEL "_core/_RegisterFile/r6_13" BEL
        "_core/_RegisterFile/r6_12" BEL "_core/_RegisterFile/r6_11" BEL
        "_core/_RegisterFile/r6_10" BEL "_core/_RegisterFile/r6_9" BEL
        "_core/_RegisterFile/r6_8" BEL "_core/_RegisterFile/r6_7" BEL
        "_core/_RegisterFile/r6_6" BEL "_core/_RegisterFile/r6_5" BEL
        "_core/_RegisterFile/r6_4" BEL "_core/_RegisterFile/r6_3" BEL
        "_core/_RegisterFile/r6_2" BEL "_core/_RegisterFile/r6_1" BEL
        "_core/_RegisterFile/r6_0" BEL "_core/_RegisterFile/r7_15" BEL
        "_core/_RegisterFile/r7_14" BEL "_core/_RegisterFile/r7_13" BEL
        "_core/_RegisterFile/r7_12" BEL "_core/_RegisterFile/r7_11" BEL
        "_core/_RegisterFile/r7_10" BEL "_core/_RegisterFile/r7_9" BEL
        "_core/_RegisterFile/r7_8" BEL "_core/_RegisterFile/r7_7" BEL
        "_core/_RegisterFile/r7_6" BEL "_core/_RegisterFile/r7_5" BEL
        "_core/_RegisterFile/r7_4" BEL "_core/_RegisterFile/r7_3" BEL
        "_core/_RegisterFile/r7_2" BEL "_core/_RegisterFile/r7_1" BEL
        "_core/_RegisterFile/r7_0" BEL "_core/_RegisterFile/r8_15" BEL
        "_core/_RegisterFile/r8_14" BEL "_core/_RegisterFile/r8_13" BEL
        "_core/_RegisterFile/r8_12" BEL "_core/_RegisterFile/r8_11" BEL
        "_core/_RegisterFile/r8_10" BEL "_core/_RegisterFile/r8_9" BEL
        "_core/_RegisterFile/r8_8" BEL "_core/_RegisterFile/r8_7" BEL
        "_core/_RegisterFile/r8_6" BEL "_core/_RegisterFile/r8_5" BEL
        "_core/_RegisterFile/r8_4" BEL "_core/_RegisterFile/r8_3" BEL
        "_core/_RegisterFile/r8_2" BEL "_core/_RegisterFile/r8_1" BEL
        "_core/_RegisterFile/r8_0" BEL "_core/_RegisterFile/r9_15" BEL
        "_core/_RegisterFile/r9_14" BEL "_core/_RegisterFile/r9_13" BEL
        "_core/_RegisterFile/r9_12" BEL "_core/_RegisterFile/r9_11" BEL
        "_core/_RegisterFile/r9_10" BEL "_core/_RegisterFile/r9_9" BEL
        "_core/_RegisterFile/r9_8" BEL "_core/_RegisterFile/r9_7" BEL
        "_core/_RegisterFile/r9_6" BEL "_core/_RegisterFile/r9_5" BEL
        "_core/_RegisterFile/r9_4" BEL "_core/_RegisterFile/r9_3" BEL
        "_core/_RegisterFile/r9_2" BEL "_core/_RegisterFile/r9_1" BEL
        "_core/_RegisterFile/r9_0" BEL "_core/_RegisterFile/r10_15" BEL
        "_core/_RegisterFile/r10_14" BEL "_core/_RegisterFile/r10_13" BEL
        "_core/_RegisterFile/r10_12" BEL "_core/_RegisterFile/r10_11" BEL
        "_core/_RegisterFile/r10_10" BEL "_core/_RegisterFile/r10_9" BEL
        "_core/_RegisterFile/r10_8" BEL "_core/_RegisterFile/r10_7" BEL
        "_core/_RegisterFile/r10_6" BEL "_core/_RegisterFile/r10_5" BEL
        "_core/_RegisterFile/r10_4" BEL "_core/_RegisterFile/r10_3" BEL
        "_core/_RegisterFile/r10_2" BEL "_core/_RegisterFile/r10_1" BEL
        "_core/_RegisterFile/r10_0" BEL "_core/_RegisterFile/r12_15" BEL
        "_core/_RegisterFile/r12_14" BEL "_core/_RegisterFile/r12_13" BEL
        "_core/_RegisterFile/r12_12" BEL "_core/_RegisterFile/r12_11" BEL
        "_core/_RegisterFile/r12_10" BEL "_core/_RegisterFile/r12_9" BEL
        "_core/_RegisterFile/r12_8" BEL "_core/_RegisterFile/r12_7" BEL
        "_core/_RegisterFile/r12_6" BEL "_core/_RegisterFile/r12_5" BEL
        "_core/_RegisterFile/r12_4" BEL "_core/_RegisterFile/r12_3" BEL
        "_core/_RegisterFile/r12_2" BEL "_core/_RegisterFile/r12_1" BEL
        "_core/_RegisterFile/r12_0" BEL "_core/_RegisterFile/r13_15" BEL
        "_core/_RegisterFile/r13_14" BEL "_core/_RegisterFile/r13_13" BEL
        "_core/_RegisterFile/r13_12" BEL "_core/_RegisterFile/r13_11" BEL
        "_core/_RegisterFile/r13_10" BEL "_core/_RegisterFile/r13_9" BEL
        "_core/_RegisterFile/r13_8" BEL "_core/_RegisterFile/r13_7" BEL
        "_core/_RegisterFile/r13_6" BEL "_core/_RegisterFile/r13_5" BEL
        "_core/_RegisterFile/r13_4" BEL "_core/_RegisterFile/r13_3" BEL
        "_core/_RegisterFile/r13_2" BEL "_core/_RegisterFile/r13_1" BEL
        "_core/_RegisterFile/r13_0" BEL "_core/_RegisterFile/r11_15" BEL
        "_core/_RegisterFile/r11_14" BEL "_core/_RegisterFile/r11_13" BEL
        "_core/_RegisterFile/r11_12" BEL "_core/_RegisterFile/r11_11" BEL
        "_core/_RegisterFile/r11_10" BEL "_core/_RegisterFile/r11_9" BEL
        "_core/_RegisterFile/r11_8" BEL "_core/_RegisterFile/r11_7" BEL
        "_core/_RegisterFile/r11_6" BEL "_core/_RegisterFile/r11_5" BEL
        "_core/_RegisterFile/r11_4" BEL "_core/_RegisterFile/r11_3" BEL
        "_core/_RegisterFile/r11_2" BEL "_core/_RegisterFile/r11_1" BEL
        "_core/_RegisterFile/r11_0" BEL "_core/_RegisterFile/r14_15" BEL
        "_core/_RegisterFile/r14_14" BEL "_core/_RegisterFile/r14_13" BEL
        "_core/_RegisterFile/r14_12" BEL "_core/_RegisterFile/r14_11" BEL
        "_core/_RegisterFile/r14_10" BEL "_core/_RegisterFile/r14_9" BEL
        "_core/_RegisterFile/r14_8" BEL "_core/_RegisterFile/r14_7" BEL
        "_core/_RegisterFile/r14_6" BEL "_core/_RegisterFile/r14_5" BEL
        "_core/_RegisterFile/r14_4" BEL "_core/_RegisterFile/r14_3" BEL
        "_core/_RegisterFile/r14_2" BEL "_core/_RegisterFile/r14_1" BEL
        "_core/_RegisterFile/r14_0" BEL "_core/_RegisterFile/r15_15" BEL
        "_core/_RegisterFile/r15_14" BEL "_core/_RegisterFile/r15_13" BEL
        "_core/_RegisterFile/r15_12" BEL "_core/_RegisterFile/r15_11" BEL
        "_core/_RegisterFile/r15_10" BEL "_core/_RegisterFile/r15_9" BEL
        "_core/_RegisterFile/r15_8" BEL "_core/_RegisterFile/r15_7" BEL
        "_core/_RegisterFile/r15_6" BEL "_core/_RegisterFile/r15_5" BEL
        "_core/_RegisterFile/r15_4" BEL "_core/_RegisterFile/r15_3" BEL
        "_core/_RegisterFile/r15_2" BEL "_core/_RegisterFile/r15_1" BEL
        "_core/_RegisterFile/r15_0" BEL "_core/_RegisterFile/r16_15" BEL
        "_core/_RegisterFile/r16_14" BEL "_core/_RegisterFile/r16_13" BEL
        "_core/_RegisterFile/r16_12" BEL "_core/_RegisterFile/r16_11" BEL
        "_core/_RegisterFile/r16_10" BEL "_core/_RegisterFile/r16_9" BEL
        "_core/_RegisterFile/r16_8" BEL "_core/_RegisterFile/r16_7" BEL
        "_core/_RegisterFile/r16_6" BEL "_core/_RegisterFile/r16_5" BEL
        "_core/_RegisterFile/r16_4" BEL "_core/_RegisterFile/r16_3" BEL
        "_core/_RegisterFile/r16_2" BEL "_core/_RegisterFile/r16_1" BEL
        "_core/_RegisterFile/r16_0" BEL "_core/_RegisterFile/r17_15" BEL
        "_core/_RegisterFile/r17_14" BEL "_core/_RegisterFile/r17_13" BEL
        "_core/_RegisterFile/r17_12" BEL "_core/_RegisterFile/r17_11" BEL
        "_core/_RegisterFile/r17_10" BEL "_core/_RegisterFile/r17_9" BEL
        "_core/_RegisterFile/r17_8" BEL "_core/_RegisterFile/r17_7" BEL
        "_core/_RegisterFile/r17_6" BEL "_core/_RegisterFile/r17_5" BEL
        "_core/_RegisterFile/r17_4" BEL "_core/_RegisterFile/r17_3" BEL
        "_core/_RegisterFile/r17_2" BEL "_core/_RegisterFile/r17_1" BEL
        "_core/_RegisterFile/r17_0" BEL "_core/_RegisterFile/r18_15" BEL
        "_core/_RegisterFile/r18_14" BEL "_core/_RegisterFile/r18_13" BEL
        "_core/_RegisterFile/r18_12" BEL "_core/_RegisterFile/r18_11" BEL
        "_core/_RegisterFile/r18_10" BEL "_core/_RegisterFile/r18_9" BEL
        "_core/_RegisterFile/r18_8" BEL "_core/_RegisterFile/r18_7" BEL
        "_core/_RegisterFile/r18_6" BEL "_core/_RegisterFile/r18_5" BEL
        "_core/_RegisterFile/r18_4" BEL "_core/_RegisterFile/r18_3" BEL
        "_core/_RegisterFile/r18_2" BEL "_core/_RegisterFile/r18_1" BEL
        "_core/_RegisterFile/r18_0" BEL "_core/_RegisterFile/r_y_overflow" BEL
        "_core/_RegisterFile/r_right_click" BEL
        "_core/_RegisterFile/r_left_click" BEL
        "_core/_RegisterFile/r_x_overflow" BEL
        "_core/_RegisterFile/r_data_ready" BEL
        "_core/_RegisterFile/r_mouse_y_15" BEL
        "_core/_RegisterFile/r_mouse_y_7" BEL
        "_core/_RegisterFile/r_mouse_y_6" BEL
        "_core/_RegisterFile/r_mouse_y_5" BEL
        "_core/_RegisterFile/r_mouse_y_4" BEL
        "_core/_RegisterFile/r_mouse_y_3" BEL
        "_core/_RegisterFile/r_mouse_y_2" BEL
        "_core/_RegisterFile/r_mouse_y_1" BEL
        "_core/_RegisterFile/r_mouse_y_0" BEL
        "_core/_RegisterFile/r_mouse_x_15" BEL
        "_core/_RegisterFile/r_mouse_x_7" BEL
        "_core/_RegisterFile/r_mouse_x_6" BEL
        "_core/_RegisterFile/r_mouse_x_5" BEL
        "_core/_RegisterFile/r_mouse_x_4" BEL
        "_core/_RegisterFile/r_mouse_x_3" BEL
        "_core/_RegisterFile/r_mouse_x_2" BEL
        "_core/_RegisterFile/r_mouse_x_1" BEL
        "_core/_RegisterFile/r_mouse_x_0" BEL "_core/_RegisterFile/lr0_23" BEL
        "_core/_RegisterFile/lr0_22" BEL "_core/_RegisterFile/lr0_21" BEL
        "_core/_RegisterFile/lr0_20" BEL "_core/_RegisterFile/lr0_19" BEL
        "_core/_RegisterFile/lr0_18" BEL "_core/_RegisterFile/lr0_17" BEL
        "_core/_RegisterFile/lr0_16" BEL "_core/_RegisterFile/lr0_15" BEL
        "_core/_RegisterFile/lr0_14" BEL "_core/_RegisterFile/lr0_13" BEL
        "_core/_RegisterFile/lr0_12" BEL "_core/_RegisterFile/lr0_11" BEL
        "_core/_RegisterFile/lr0_10" BEL "_core/_RegisterFile/lr0_9" BEL
        "_core/_RegisterFile/lr0_8" BEL "_core/_RegisterFile/lr0_7" BEL
        "_core/_RegisterFile/lr0_6" BEL "_core/_RegisterFile/lr0_5" BEL
        "_core/_RegisterFile/lr0_4" BEL "_core/_RegisterFile/lr0_3" BEL
        "_core/_RegisterFile/lr0_2" BEL "_core/_RegisterFile/lr0_1" BEL
        "_core/_RegisterFile/lr0_0" BEL "_core/_RegisterFile/lr1_23" BEL
        "_core/_RegisterFile/lr1_22" BEL "_core/_RegisterFile/lr1_21" BEL
        "_core/_RegisterFile/lr1_20" BEL "_core/_RegisterFile/lr1_19" BEL
        "_core/_RegisterFile/lr1_18" BEL "_core/_RegisterFile/lr1_17" BEL
        "_core/_RegisterFile/lr1_16" BEL "_core/_RegisterFile/lr1_15" BEL
        "_core/_RegisterFile/lr1_14" BEL "_core/_RegisterFile/lr1_13" BEL
        "_core/_RegisterFile/lr1_12" BEL "_core/_RegisterFile/lr1_11" BEL
        "_core/_RegisterFile/lr1_10" BEL "_core/_RegisterFile/lr1_9" BEL
        "_core/_RegisterFile/lr1_8" BEL "_core/_RegisterFile/lr1_7" BEL
        "_core/_RegisterFile/lr1_6" BEL "_core/_RegisterFile/lr1_5" BEL
        "_core/_RegisterFile/lr1_4" BEL "_core/_RegisterFile/lr1_3" BEL
        "_core/_RegisterFile/lr1_2" BEL "_core/_RegisterFile/lr1_1" BEL
        "_core/_RegisterFile/lr1_0" BEL "_core/_RegisterFile/lr3_23" BEL
        "_core/_RegisterFile/lr3_22" BEL "_core/_RegisterFile/lr3_21" BEL
        "_core/_RegisterFile/lr3_20" BEL "_core/_RegisterFile/lr3_19" BEL
        "_core/_RegisterFile/lr3_18" BEL "_core/_RegisterFile/lr3_17" BEL
        "_core/_RegisterFile/lr3_16" BEL "_core/_RegisterFile/lr3_15" BEL
        "_core/_RegisterFile/lr3_14" BEL "_core/_RegisterFile/lr3_13" BEL
        "_core/_RegisterFile/lr3_12" BEL "_core/_RegisterFile/lr3_11" BEL
        "_core/_RegisterFile/lr3_10" BEL "_core/_RegisterFile/lr3_9" BEL
        "_core/_RegisterFile/lr3_8" BEL "_core/_RegisterFile/lr3_7" BEL
        "_core/_RegisterFile/lr3_6" BEL "_core/_RegisterFile/lr3_5" BEL
        "_core/_RegisterFile/lr3_4" BEL "_core/_RegisterFile/lr3_3" BEL
        "_core/_RegisterFile/lr3_2" BEL "_core/_RegisterFile/lr3_1" BEL
        "_core/_RegisterFile/lr3_0" BEL "_core/_RegisterFile/lr4_23" BEL
        "_core/_RegisterFile/lr4_22" BEL "_core/_RegisterFile/lr4_21" BEL
        "_core/_RegisterFile/lr4_20" BEL "_core/_RegisterFile/lr4_19" BEL
        "_core/_RegisterFile/lr4_18" BEL "_core/_RegisterFile/lr4_17" BEL
        "_core/_RegisterFile/lr4_16" BEL "_core/_RegisterFile/lr4_15" BEL
        "_core/_RegisterFile/lr4_14" BEL "_core/_RegisterFile/lr4_13" BEL
        "_core/_RegisterFile/lr4_12" BEL "_core/_RegisterFile/lr4_11" BEL
        "_core/_RegisterFile/lr4_10" BEL "_core/_RegisterFile/lr4_9" BEL
        "_core/_RegisterFile/lr4_8" BEL "_core/_RegisterFile/lr4_7" BEL
        "_core/_RegisterFile/lr4_6" BEL "_core/_RegisterFile/lr4_5" BEL
        "_core/_RegisterFile/lr4_4" BEL "_core/_RegisterFile/lr4_3" BEL
        "_core/_RegisterFile/lr4_2" BEL "_core/_RegisterFile/lr4_1" BEL
        "_core/_RegisterFile/lr4_0" BEL "_core/_RegisterFile/lr2_23" BEL
        "_core/_RegisterFile/lr2_22" BEL "_core/_RegisterFile/lr2_21" BEL
        "_core/_RegisterFile/lr2_20" BEL "_core/_RegisterFile/lr2_19" BEL
        "_core/_RegisterFile/lr2_18" BEL "_core/_RegisterFile/lr2_17" BEL
        "_core/_RegisterFile/lr2_16" BEL "_core/_RegisterFile/lr2_15" BEL
        "_core/_RegisterFile/lr2_14" BEL "_core/_RegisterFile/lr2_13" BEL
        "_core/_RegisterFile/lr2_12" BEL "_core/_RegisterFile/lr2_11" BEL
        "_core/_RegisterFile/lr2_10" BEL "_core/_RegisterFile/lr2_9" BEL
        "_core/_RegisterFile/lr2_8" BEL "_core/_RegisterFile/lr2_7" BEL
        "_core/_RegisterFile/lr2_6" BEL "_core/_RegisterFile/lr2_5" BEL
        "_core/_RegisterFile/lr2_4" BEL "_core/_RegisterFile/lr2_3" BEL
        "_core/_RegisterFile/lr2_2" BEL "_core/_RegisterFile/lr2_1" BEL
        "_core/_RegisterFile/lr2_0" BEL
        "_ioController/_readFromMouse/current_data_counter_3" BEL
        "_ioController/_readFromMouse/current_data_counter_2" BEL
        "_ioController/_readFromMouse/current_data_counter_1" BEL
        "_ioController/_readFromMouse/current_data_counter_0" BEL
        "_ioController/_readFromMouse/current_state_FSM_FFd1" BEL
        "_ioController/_readFromMouse/current_state_FSM_FFd2" BEL
        "_ioController/_readFromMouse/current_buffer_7" BEL
        "_ioController/_readFromMouse/current_buffer_6" BEL
        "_ioController/_readFromMouse/current_buffer_5" BEL
        "_ioController/_readFromMouse/current_buffer_4" BEL
        "_ioController/_readFromMouse/current_buffer_3" BEL
        "_ioController/_readFromMouse/current_buffer_2" BEL
        "_ioController/_readFromMouse/current_buffer_1" BEL
        "_ioController/_sevenSeg/anode_counter_1" BEL
        "_ioController/_sevenSeg/anode_counter_0" BEL
        "_ioController/_sevenSeg/counter_19" BEL
        "_ioController/_sevenSeg/counter_18" BEL
        "_ioController/_sevenSeg/counter_17" BEL
        "_ioController/_sevenSeg/counter_16" BEL
        "_ioController/_sevenSeg/counter_15" BEL
        "_ioController/_sevenSeg/counter_14" BEL
        "_ioController/_sevenSeg/counter_13" BEL
        "_ioController/_sevenSeg/counter_12" BEL
        "_ioController/_sevenSeg/counter_11" BEL
        "_ioController/_sevenSeg/counter_10" BEL
        "_ioController/_sevenSeg/counter_9" BEL
        "_ioController/_sevenSeg/counter_8" BEL
        "_ioController/_sevenSeg/counter_7" BEL
        "_ioController/_sevenSeg/counter_6" BEL
        "_ioController/_sevenSeg/counter_5" BEL
        "_ioController/_sevenSeg/counter_4" BEL
        "_ioController/_sevenSeg/counter_3" BEL
        "_ioController/_sevenSeg/counter_2" BEL
        "_ioController/_sevenSeg/counter_1" BEL
        "_ioController/_sevenSeg/counter_0" BEL "_core/opcode_2_1" BEL
        "_core/immediateL_9_1" BEL "_core/opcode_1_1" BEL "_core/opcode_0_1"
        BEL "_core/opcode_2_2" BEL "_core/opcode_4_1" BEL "_core/opcode_3_1"
        BEL "_core/opcode_1_2" BEL "_core/opcode_0_2" BEL
        "_core/core_state_FSM_FFd4_1" BEL "clk_BUFGP/BUFG" BEL
        "_ioController/_readFromMouse/Mshreg_current_buffer_8" BEL
        "_ioController/_readFromMouse/current_buffer_8" BEL
        "_vgaController/_pixelGenerator/Mshreg_random_number_27" BEL
        "_vgaController/_pixelGenerator/random_number_27" BEL
        "_vgaController/_pixelGenerator/Mshreg_random_number_30" BEL
        "_vgaController/_pixelGenerator/random_number_30" PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_0"
        BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_1"
        BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_2"
        BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_3"
        BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_0"
        BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_1"
        BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_2"
        BEL
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_3"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "_vgaRam/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_init.ram/TRUE_DP.PRIM18.ram_pins<29>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

